<div><b><h1>Company List</h1></b></div>
<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th>Action</th>
        <th>Company Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pd of service.list">
        <td>
          <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.id)"></i> | <a href='/company/edit/{{pd.id}}'>Edit</a>
          <!--  <i class="" (click)="populateForm(pd)">Edit</i> -->
        </td>
        <td>{{pd.companyName}}</td>
        <td>{{pd.companyDescription}}</td>
      </tr>
  </tbody>
</table>