<div class="row">
    <h1>Dashboard</h1>
</div>
<div class="row">
    <div class="col-sm-3 tilebar-border">
          <h3 class="title">4</h3>
          <p>Total Candidates</p>
    </div>
    <div class="col-sm-3 tilebar-border">
          <h3 class="title">{{service.CompanyCount}}</h3>
          <p>Total Companies</p>
    </div>
    <div class="col-sm-3 tilebar-border">
          <h3 class="title">
              {{service.ConsultantCount}}
            </h3>
          <p>Total Consultant</p>
    </div>
  </div>